* {
    margin: 0;
}


h1 {
    margin: 44.44px;
}

.header {
    font-size: medium;
    text-align: center;
    border-style: double outset;
    border-color: rgb(106, 58, 58);

}

ul {
    display:flex;
    padding: 8px;
    margin: 20px;
    font-family: sans-serif;
}

.list {
    font-family: sans-serif;
    border-radius: 8.8px;
    font-size: 10px;
    text-align: center;
    margin: 200px 320px;
    height: 500px;
    width:500px;
    background-color: rgba(113, 9, 37, 0.358);
}

#submit {
    align-items: center;
}