h1 {
    text-align: center;
    border: 10px solid magenta;
    background-color: aquamarine;
    text-decoration-line: underline;
}

form {
    text-align: center;
    background-color: lightslategray;
}

#todoList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.delete-button {
    background-color: cadetblue;
    margin-left: 10px;
}

.delete-button:hover {
    background-color: magenta;
}

li {
    border: 1px solid salmon;
    padding: 10px 50px 10px 10px;
    margin-bottom: 10px;
}

li button {
    margin-left: 10px;
}

body {
    background-color: indianred;
}


